<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Color Mood</title>
    <link rel="stylesheet" href="~/sass/_bootstrap-overrides.scss"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Color_Mood.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav id="navbar" class="navbar navbar-expand-sm navbar-toggleable-sm o-bg-primary box-shadow shadow-lg">
        <div class="container-fluid">
            <a class="navbar-brand ms-3" asp-area="" asp-controller="Home" asp-action="Search">Color Mood</a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @* <li class="nav-item"> *@
                    @*     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Search">Home</a> *@
                    @* </li> *@
                    @* <li class="nav-item"> *@
                    @*     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
                    @* </li> *@
                </ul>
            </div>
            
            @await RenderSectionAsync("NavbarExtension", false)
        </div>
    </nav>
</header>

<div id="content" class="container-fluid">
    @RenderBody()
</div>

<footer class="border-top footer text-muted">
    <div class="container text-center mb-3">
        &copy; 2022 Aki Aoki
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>