<div id="title-search" class="text-center align-items-center justify-content-center h-100 d-flex flex-column">
    <div class="container">
        <h1 class="display-4">Color Mood</h1>
    </div>
    <div class="d-flex">
        <form class="input-group ms-3" method="get" asp-action="Search">
            <partial name="_SearchInput"/>
        </form>
    </div>
</div>